<%= form_for(@change_request, method: "PUT", url: change_request_path(@change_request)) do |f| %>
  <% if @change_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@change_request.errors.count, "error") %> prohibited this change_request from being saved:</h2>

      <ul>
      <% @change_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>


  <% end %>

  <strong>Apply changes and close request</strong>
  <dl>

  <dt> Record Type </dt>
  <dd><%= @change_request.recordable_type %></dd>


  <dt> Record ID </dt>
  <dd><%= @change_request.recordable_id %></dd>


  <dt> Changes </dt>
  <dd><%= @change_request.requested_changes %></dd>

  </dl>

  <div class="actions">
    <%= f.submit "Apply & Close" %>
  </div>
<% end %>
